* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


body {
  background: linear-gradient(-45deg, #6a11cb, #2575fc, #ff6ec4, #7873f5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.timer {
  width: 90%;
  max-width: 600px;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  color: aliceblue;
  margin: 50px auto;
}

.container {
  width: 90%;
  max-width: 600px;
  aspect-ratio: 1;
  margin: 50px auto;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  flex-wrap: wrap;
}

.card-jocker {
  width: 85.71px;
  height: 85.71px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  user-select: none;
  /* background-color: palevioletred; */
  background-image: url("joker.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card1 {
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.card2 {
  width: 85.71px;
  height: 85.71px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.card3 {
  width: 75px;
  height: 75px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.back1,
.front1 {
  width: 100px;
  height: 100px;
  position: absolute;
  transition: 1s all;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  color: aliceblue;
}

.back2,
.front2 {
  width: 85.71px;
  height: 85.71px;
  position: absolute;
  transition: 1s all;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  color: aliceblue;
}

.back3,
.front3 {
  width: 75px;
  height: 75px;
  position: absolute;
  transition: 1s all;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  color: aliceblue;
}

.back1,
.back2,
.back3 {
  background-color: blueviolet;
  transform: perspective(900px) rotateY(-180deg);
}

.front1,
.front2,
.front3 {
  background-color: indigo;
}

.card1.flipped .front1 {
  transform: perspective(900px) rotateY(180deg);
}

.card2.flipped .front2 {
  transform: perspective(900px) rotateY(180deg);
}

.card3.flipped .front3 {
  transform: perspective(900px) rotateY(180deg);
}

.card1.flipped .back1 {
  transform: perspective(900px) rotateY(0);
}

.card2.flipped .back2 {
  transform: perspective(900px) rotateY(0);
}

.card3.flipped .back3 {
  transform: perspective(900px) rotateY(0);
}

.card1.flipped-two .front1 {
  transform: perspective(900px) rotateY(180deg);
}

.card2.flipped-two .front2 {
  transform: perspective(900px) rotateY(180deg);
}

.card3.flipped-two .front3 {
  transform: perspective(900px) rotateY(180deg);
}

.card1.flipped-two .back3 {
  transform: perspective(900px) rotateY(0);
}

@media (max-width: 768px) {
  .timer {
    font-size: 48px;
    margin: 30px auto;
  }

  .container {
    margin: 30px auto;
  }

  .card1 {
    width: 80px;
    height: 80px;
  }

  .card2 {
    width: 68px;
    height: 68px;
  }

  .card3 {
    width: 60px;
    height: 60px;
  }

  .back1,
  .front1 {
    width: 80px;
    height: 80px;
    font-size: 56px;
  }

  .back2,
  .front2 {
    width: 68px;
    height: 68px;
    font-size: 48px;
  }

  .back3,
  .front3 {
    width: 60px;
    height: 60px;
    font-size: 48px;
  }
}

.card2.flipped-two .back2 {
  transform: perspective(900px) rotateY(0);
}

.card3.flipped-two .back3 {
  transform: perspective(900px) rotateY(0);
}